<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Flask App</title>
  </head>
  <body>
    <div class="header_block">
      <div class="logo_block">
        <img
          src="../static/images/oakland_logo.png"
          alt="oakland university grizzly logo"
        />
        <div class="title_block">Oakland University Parking Watch</div>
      </div>
    </div>
    <div class="body_block">
      <div class="display_block">
        <div class="img_block">
          <img id="parking_lot_1" />
        </div>
        <div class="info_block">
          <div class="availability_block">
            parking availability (low, medium, high)
          </div>
          <div class="electric_block">electric car charging spots (yes/no)</div>
        </div>
      </div>
      <div class="display_block">
        <div class="img_block"></div>
        <div class="info_block">
          <div class="availability_block">
            parking availability (low, medium, high)
          </div>
          <div class="electric_block">electric car charging spots (yes/no)</div>
        </div>
      </div>
      <div class="display_block">
        <div class="img_block"></div>
        <div class="info_block">
          <div class="availability_block">
            parking availability (low, medium, high)
          </div>
          <div class="electric_block">electric car charging spots (yes/no)</div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </body>
  <script></script>
</html>
